*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size:10px;
}

body{
    font-size:1.5rem;
}
.calculator{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.calculator-input{
    width: 100%;
    height: 70px;
    font-size: 4rem;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    background-color: #252525;
    color: #fff;
}
button{
    height: 50px;
    border-radius: 3px;
    border:1px solid #ccc;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
}
button:hover{
    background-color: #eaeaea;
}
.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
    padding: 20px;
}
.operator{
    color: #336cac;
}
.decimal{

}
.clear{
    background-color: #f0595f;
    color: #fff;
}
.clear:hover{
    background-color: #f17377;
}

.equal-sign{
    background-color: #336cac;
    color:#fff;
    grid-area: 2 / 4 / 6 / 5 ;
    height: 100%;
}
.equal-sign:hover{
    background-color: #2e86c0;
}