@*Bu partial view product yok ise gösterilmek üzere tasarlandı*@
<div class="row">
    <div class="col-12">
        <div class="alert alert-danger">
            Ürün bulunamadı.
        </div>
    </div>
</div>