@using Newtonsoft.Json;
@using ShoppingApp.Core;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoppingApp.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShoppingApp.Web.styles.css" asp-append-version="true" />
</head>
<body>
    @await Html.PartialAsync("_Navbar")
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["Message"]!=null)
            {
                var msg = JsonConvert.DeserializeObject<AlertMessage>(TempData["Message"] as String);
                 <div class="row">
                     <div class="col-12">
                         <div class="alert alert-@msg.AlertType">
                            <div>@msg.Title</div>
                            <div>@msg.Message</div>
                         </div>
                     </div>
                 </div>
                    
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ShoppingApp.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
