<div class="p-4 text-center">
    <a 
        class="btn btn-success fs-4" 
        style="width:150px; height:150px;"
        asp-area="Admin"
        asp-controller="Category"
        asp-action="Index"
    >Kategoriler</a>
    <a 
        class="btn btn-info fs-4" 
        style="width:150px; height:150px;"
        asp-area="Admin"
        asp-controller="Food"
        asp-action="Index"
    >Yemekler</a>
</div>
