USE [HR]
GO
/****** Object:  StoredProcedure [dbo].[GENERATE_WORKER_TRANSACTION]    Script Date: 13.04.2020 18:35:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[GENERATE_WORKER_TRANSACTION]
@WORKERID AS INT
AS
BEGIN
DECLARE @I AS INT=0
DECLARE @BEGDATE AS DATETIME='2019-01-01 08:00:00'
DECLARE @IOTYPE AS VARCHAR(1)='G'
DECLARE @DATE AS DATETIME=@BEGDATE
	WHILE @I<365

		BEGIN
			IF DATEPART(DW,@BEGDATE)<>1 AND RAND()>0.2
			BEGIN
			--SABAH GİRİŞ 
			SET @DATE=DATEADD(MINUTE,CONVERT(INT,RAND()*30),@DATE)
			INSERT INTO HR.DBO.WORKERTRANSACTIONS (WORKERID,DATE_,IOTYPE,GATEID)
			VALUES (@WORKERID,@DATE,'G',ROUND(RAND()*20,0)) 
 
			--İLK MOLA ÇIKIŞ SAATİ SAAT 10:00
			SET @DATE=DATEADD(HOUR,2,@BEGDATE)
			SET @DATE=DATEADD(MINUTE,CONVERT(INT,RAND()*15),@DATE)

			INSERT INTO HR.DBO.WORKERTRANSACTIONS (WORKERID,DATE_,IOTYPE,GATEID)
			VALUES (@WORKERID,@DATE,'C',ROUND(RAND()*20,0)) 

			--İLK MOLADAN GELİŞ
			SET @DATE=DATEADD(MINUTE,8+CONVERT(INT,RAND()*10),@DATE)
 
			INSERT INTO HR.DBO.WORKERTRANSACTIONS (WORKERID,DATE_,IOTYPE,GATEID)
			VALUES (@WORKERID,@DATE,'G',ROUND(RAND()*20,0))
 
			 --ÖĞLE YEMEĞİNE ÇIKIŞ 12:00
			SET @DATE=DATEADD(HOUR,4,@BEGDATE)
			SET @DATE=DATEADD(MINUTE,CONVERT(INT,RAND()*15),@DATE)
			INSERT INTO HR.DBO.WORKERTRANSACTIONS (WORKERID,DATE_,IOTYPE,GATEID)
			VALUES (@WORKERID,@DATE,'C',ROUND(RAND()*20,0))
			--ÖĞLE YEMEĞİNDEN GELİŞ
			SET @DATE=DATEADD(MINUTE,55+CONVERT(INT,RAND()*15),@DATE)
			INSERT INTO HR.DBO.WORKERTRANSACTIONS (WORKERID,DATE_,IOTYPE,GATEID)
			VALUES (@WORKERID,@DATE,'G',ROUND(RAND()*20,0)) 

			 --İKİNCİ MOLAYA ÇIKIŞ YEMEĞİNE ÇIKIŞ 15:00
			SET @DATE=DATEADD(HOUR,7,@BEGDATE)
			SET @DATE=DATEADD(MINUTE,CONVERT(INT,RAND()*15),@DATE)
			INSERT INTO HR.DBO.WORKERTRANSACTIONS (WORKERID,DATE_,IOTYPE,GATEID)
			VALUES (@WORKERID,@DATE,'C',ROUND(RAND()*20,0)) 
			--İKİNCİ MOLADAN GELİŞ
			SET @DATE=DATEADD(MINUTE,8+CONVERT(INT,RAND()*10),@DATE)
			INSERT INTO HR.DBO.WORKERTRANSACTIONS (WORKERID,DATE_,IOTYPE,GATEID)
			VALUES (@WORKERID,@DATE,'G',ROUND(RAND()*20,0)) 

			 --MESAİ BİTİŞİ 17:00
			SET @DATE=DATEADD(HOUR,9,@BEGDATE)
			SET @DATE=DATEADD(MINUTE,-10+CONVERT(INT,RAND()*20),@DATE)
			INSERT INTO HR.DBO.WORKERTRANSACTIONS (WORKERID,DATE_,IOTYPE,GATEID)
			VALUES (@WORKERID,@DATE,'C',ROUND(RAND()*20,0))
		
		END
		SET @I=@I+1
 
		SET @BEGDATE=DATEADD(DAY,1,@BEGDATE)
 
	
 END

END 