USE [HR]
GO
/****** Object:  StoredProcedure [dbo].[WORKER_INOUT]    Script Date: 12.04.2020 14:55:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[WORKER_INOUT]
@WORKERBARCODE AS VARCHAR(100),
@IOTYPE AS VARCHAR(1),
@DATE DATETIME
AS
BEGIN
DECLARE @WORKERID AS INT
DECLARE @WORKERNAME AS VARCHAR(100)
SELECT @WORKERID=ID,@WORKERNAME=WORKERNAME FROM WORKERS WHERE BARCODE=@WORKERBARCODE 

IF @WORKERID IS NULL
BEGIN
	RAISERROR('Bu kart kayıtlı değildir',16,1)
	RETURN
END

DECLARE @LASTIOTYPE AS VARCHAR(1)
SELECT TOP 1 @LASTIOTYPE=IOTYPE FROM WORKERTRANSACTIONS WHERE WORKERID=@WORKERID
AND DATE_>=CONVERT(DATE,GETDATE()) 
ORDER BY DATE_ DESC,ID DESC 

IF @LASTIOTYPE=@IOTYPE
BEGIN
	IF @IOTYPE='G'
	BEGIN
		RAISERROR('Zaten içeride görünüyorsunuz.',16,1)
		RETURN
	END
	IF @IOTYPE='C'
	BEGIN
		RAISERROR('Zaten dışarıda görünüyorsunuz.',16,1)
		RETURN
	END
END
INSERT INTO WORKERTRANSACTIONS
(WORKERID,IOTYPE,DATE_)
VALUES
(@WORKERID,@IOTYPE,@DATE)

SELECT @WORKERNAME AS WORKERNAME,@DATE AS DATE_
END