@model Kitap
@{
    ViewData["Title"] = "Kitap Ekle";
}

<h1 class="display-6">Yeni Kitap Oluştur</h1>
<hr>
<form asp-controller="Home" asp-action="KitapEkle" method="post">
    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label" asp-for="Ad"></label>
        </div>
        <div class="col-4">
            <input class="form-control" type="text" asp-for="Ad">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label" asp-for="BasimYili"></label>
        </div>
        <div class="col-4">
            <input class="form-control" type="text" asp-for="BasimYili">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label" asp-for="SayfaSayisi"></label>
        </div>
        <div class="col-4">
            <input class="form-control" type="text" asp-for="SayfaSayisi">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label" asp-for="Ozet"></label>
        </div>
        <div class="col-4">
            <input class="form-control" type="text" asp-for="Ozet">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label">Kategori</label>
        </div>
        <div class="col-4">
            <select asp-for="KategoriId" class="form-select" aria-label="Default select example">
                <option selected>Kategori seçiniz</option>
                @foreach (var kategori in ViewBag.Kategoriler)
                {
                    <option value="@kategori.Id">@kategori.Ad</option>
                }

            </select>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-2">
            <label class="form-label">Yazar</label>
        </div>
        <div class="col-4">
            <select asp-for="YazarId" class="form-select" aria-label="Default select example">
                <option selected>Yazar seçiniz</option>
                @foreach (var yazar in ViewBag.Yazarlar)
                {
                    <option value="@yazar.Id">@yazar.Ad</option>
                }

            </select>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-4 offset-2">
            <input class="btn btn-primary" type="submit" value="Kaydet">
        </div>
    </div>
</form>