@model CategoryListDto
<hr />
<a 
    class="btn btn-outline-primary"
    asp-area="Admin"
    asp-controller="Category"
    asp-action="Create"
>Yeni Kategori Ekle</a>
<hr />
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <a 
                        class="btn btn-warning btn-sm"
                        asp-area="Admin"
                        asp-controller="Category"
                        asp-action="Edit"
                        asp-route-id=@category.Id
                    >Düzenle</a>
                    <a 
                        class="btn btn-danger btn-sm"
                        asp-area="Admin"
                        asp-controller="Category"
                        asp-action="Delete"
                        asp-route-id=@category.Id
                    >Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>