/* Bu class tüm butonlarımızın ortak özelliklerini tanımlıyor */
.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition-duration: .5s;
}
/* Primary Button */
.btn-primary {
    background-color: #DD5353;
    color: #EDDBC0;
    border: 2px solid #DD5353;
}

.btn-primary:hover {
    background-color: #EDDBC0;
    color: #DD5353;
}

/* Primary Outline Button */
.btn-outline-primary {
    background-color: #EDDBC0;
    color: #DD5353;
    border: 2px solid #DD5353;
}

.btn-outline-primary:hover {
    background-color: #DD5353;
    color: #EDDBC0;
}

/* Secondary Button */
.btn-secondary {
    background-color: #256D85;
    color: #DFF6FF;
    border: 2px solid #256D85;
}

.btn-secondary:hover {
    background-color: #DFF6FF;
    color: #256D85;
}

/* Secondary Outline Button */
.btn-outline-secondary {
    background-color: #DFF6FF;
    color: #256D85;
    border: 2px solid #256D85;
}

.btn-outline-secondary:hover {
    background-color: #256D85;
    color: #DFF6FF;
}