<div class="mt-3">
    <form asp-area=""
        asp-controller="Home"
        asp-action="Search"
    >
        <input class="form-control mb-2" name="q" placeholder="Ara..."/>
        <div class="d-grid">
            <button type="submit" class="btn btn-danger">Ara</button>
        </div>
    </form>
</div>